{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Products
{% endblock title %}

{% block content %}
    <h1>Все посты</h1>
    <h3> Количество новостей : {{ posts|length }}</h3>
    <hr>
    {% if posts %}
        <form method="GET">
         {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
         <input type="submit" value="Найти">
        <table>
            <tr>
                <td>
                    заголовок
                </td>
                <td>
                    Автор
                </td>
                <td>
				</td>
                <td>
                    дата публикации
                </td>
                <td>
				</td>
                <td>
                    Предпросмотр
                </td>

            </tr>
                    {% for post in filter.qs %}
            <tr>
                <td>
                 <a href="/news/{{ post.pk }}">    {{ post.title|censor }}</a>
                </td>

                <td>
                                    {{  post.author.authorUser  }}
				</td>
                <td>
<!--                    {{ post.dateCreation|date:'d M Y H:m' }} -->
                    {{ post.dateCreation|date:"d-m-Y H:i"}}

<!--                   {{ time_now |date:'d-M-Y H:m'   }} -->
                </td>
                <td>
				</td>
                <td>
                    {{ post.content|truncatechars:50|censor }}
                </td>

            </tr>
        {% endfor %}

        </table>



    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
{% endblock content %}