{% extends 'flatpages/default.html' %}
{% load custom_filters %}



{% block title %}
Posts
{% endblock title %}

{% block content %}

<!-- <form method="GET">
    {{ filter.form }} Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому
    <input type="submit" value="Найти"> -->

    <h1>Все посты</h1>
    <h3> Количество новостей : {{ posts|length }}</h3>
    <hr>
        <table>
            <tr>
                <td>
                    заголовок
                </td>
                <td>
				</td>
                <td>
                    дата публикации
                </td>
                <td>
				</td>
                <td>
                    Предпросмотр
                </td>
                <td>
                    Категория
                </td>
            </tr>
        {% for post in posts %}
            <tr>


                <td>
                <a href="{% url 'post_detail' post.id %}">{{ post.title|title }}</a>
                <a href="{% url 'post_update' post.id %}"><u>Редактировать</u></a>
                <a href="{% url 'post_delete' post.id %}"><u>Удалить</u></a>
				</td>
                                </td>
                <td>
                <td>
<!--                    {{ post.dateCreation|date:'d M Y H:m' }} -->
                    {{ post.dateCreation|date:"d-m-Y H:i"}}
<!--                   {{ time_now |date:'d-M-Y H:m'   }} -->
                </td>
                <td>
				</td>
                <td>
                    {{ post.content|truncatechars:50|censor }}
                </td>
                <td>

                    {% for category in post.postCategory.all %}
                                {{ category }}<br>
                    <a class="btn btn-primary float-center" href="{% url 'subscribe' category.pk %}">Подписаться</a><br>

                    {% endfor %}

            </td>
                </td>
            </tr>
        {% endfor %}
        </table>
<a href="{% url 'post_create' %}">Добавить новый пост</a> <br>
{% if is_paginated %}
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-1' and num < page_obj.number|add:'1' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}


    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}
<!-- <form method="POST">
    {% csrf_token %}
    <td>
    <label for="title">title</label>
    <input name="title" type="text">
    </td>
    <td>
        <label for="author">author</label>


        <select name="author">
      {% for author in authors %}
        <option value="{{ author.id }}">
            {{ author.authorUser.username }}
        </option>
      {% endfor %}
            </select>


    </td>
    <td>

    <label for="category">category</label>

        <select name="category">
      {% for category in categories %}
        <option value="{{ category.id }}">
            {{ category.categorya }}
        </option>
      {% endfor %}

    </select>
    <label for="content">content</label>
    <input name="content" type="text">
    </td>
    <input type="submit" value="Добавить Пост">
</form>
<form method="POST">
    {% csrf_token %}
    {{ form }} Теперь нам нужна только готовая форма и кнопка
    <input type="submit" value="Добавить товар">
    </form> -->
{% endblock content %}
