{% extends 'app/base.html' %}
 
{% block title %} Product list {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            title
        </th>
        <th>
            author
        </th>
        <th>
            categoryType
        </th>
        <th>
            content
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.author.username|title }}
        </td>
        <td>
            {{ post.categoryType }}
        </td>
        <td>
            {{ post.content }}
        </td>
    </tr>
</table>
{% endblock content %}
